@mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) {
  background-image: url("#{$file-1x}");

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url("#{$file-2x}");
    background-size: $width-1x $height-1x;
    width: $width-1x;
    height: $height-1x;
  }
}
i.icon-brand {
  @include img-retina("../images/logo-small.png", "../images/logo-big.png", 30px, 30px);
  width: 30px;
  height: 30px;
  display: inline-block;
}
.navbar-default .navbar-brand {
  padding: 10px 0 0 10px;
}