<div>
  <div class="form-group">
    <label>Name:</label>
    <span>{{vm.accountInfo.userName}}</span>
  </div>
  <div class="form-group">
    <label>Stars:</label>
    <span>{{vm.accountInfo.starsCount}}</span>
  </div>

  <div class="form-group">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="card in vm.accountInfo.cards">
        <div class="item-container clearfix">
        <div class="thumbnail">
          <img style="width: 54px;height: 33px" src="https://plas-tek.ru/cardimage.ashx?c={{card.number}}"/>
        </div>
        <div>
        номер: {{card.number}}
        </div>
          <div>баланс: {{card.balance}}.00 rub.</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <label>Coupons:</label>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="coupon in vm.accountInfo.coupons">
        {{coupon.number}}
      </li>
    </ul>
  </div>
  <a class="btn btn-default" ng-href="{{href('editAccount')}}">Edit</a>
</div>