<div>
  <div class="col-sm-4">
    <div class="list-group sidebar{{vm.responsiveClasses}}">
      <a class="list-group-item" ng-href="{{href('withNav.accountList.addAccount')}}"><span class="fa fa-plus"></span> Add account</a>


      <a class="list-group-item" ng-class="{active:item.isActive}" ng-repeat="item in vm.items"
         ng-href="{{href('withNav.accountList.accountDisplay', {accountId:item.id})}}">{{item.userName}} <span
              class="label label-danger pull-right" ng-show="item.activeCouponsCount">{{item.activeCouponsCount}}</span>
      </a>

    </div>
  </div>
  <div class="col-sm-8">
    <div ui-view></div>
  </div>
</div>