<div ng-show="vm.isLoading">
  <h3>
  <span class="fa fa-cog fa-spin"></span> Loading ...
  </h3>
</div>
<div ng-hide="vm.isLoading">
  <div class="page-header">

    <h3>{{vm.accountInfo.userName}}</h3>

    <div class="small">

      <span class="fa fa-credit-card"></span>
      <span>{{vm.accountInfo.cards.length}}</span>

      <span class="fa fa-star"></span>
      <span>{{vm.accountInfo.starsCount}}</span>

      <span class="fa fa-ticket"></span>
      <span>
      {{ vm.countActiveCoupons(vm.accountInfo.coupons) }}
      </span>
    </div>
  </div>
  <div class="form-group">

  </div>

  <div class="form-group">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="card in vm.accountInfo.cards">
        <div class="item-container clearfix">
          <div class="thumbnail">
            <img style="width: 54px;height: 33px" ng-src="https://plas-tek.ru/cardimage.ashx?c={{card.number}}"/>
          </div>
          <div>
            number: {{card.number}}
          </div>
          <div>balance: {{card.balance}}.00 rub.</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="form-group">
    <label class="checkbox"><input type="checkbox" class="checkbox" ng-model="vm.showAll" /> Show all</label>

  </div>
  <div class="form-group">

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="coupon in vm.accountInfo.coupons | filter:vm.couponsFilter">
        <div ng-show="coupon.isActive">
          <a ng-href="http://plas-tek.ru/Passbook.ashx?Number={{coupon.key}}">
            <img src="images/Add_to_Passbook_Badge_2x.png" style="width: 122px;height: 40px"/>
          </a>
          <a ng-href="http://plas-tek.ru/Coupon.aspx?Number={{coupon.key}}">{{coupon.couponType}}</a>
        </div>
        <span ng-show="!coupon.isActive">{{coupon.number}} - {{coupon.couponType}}</span>

      </li>
    </ul>
  </div>
  <a class="btn btn-default" ng-href="{{href('accountList.editAccount', {accountId:vm.accountId}, {inherit:true})}}">Edit</a>
</div>