@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@controllers.dev.routes.DAssets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@controllers.dev.routes.DAssets.at("images/favicon.png")">
        <script src="@controllers.dev.routes.DAssets.at("lib/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    </head>
    <body>
        @content
    </body>
</html>
